<h1>Invoices</h1>
<form action="#" class="create_invoice">
  <input type='text' class='create' placeholder="Invoice ID" name="invoice[name]"/>
  <input type='text' placeholder="Customer Name" name="invoice[customer_name]"/>
  <input type='text' class='datepicker span2' placeholder="Due Date" name="invoice[due_date]"/>
  <button type="submit" class="btn success">Create Invoice</button>
</form>
<ul id='list'></ul>
<div id='invoice-stats'>
</div>